@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: normal;
  src: url("OpenSans-ExtraBold.eot");
  src: url("OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("OpenSans-ExtraBold.woff2") format("woff2"), url("OpenSans-ExtraBold.woff") format("woff"), url("OpenSans-ExtraBold.ttf") format("truetype"), url("OpenSans-ExtraBold.svg#OpenSans-ExtraBold") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url("OpenSans-Regular.eot");
  src: url("OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("OpenSans-Regular.woff2") format("woff2"), url("OpenSans-Regular.woff") format("woff"), url("OpenSans-Regular.ttf") format("truetype"), url("OpenSans-Regular.svg#OpenSans-Regular") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: url("OpenSans-SemiBold.eot");
  src: url("OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("OpenSans-SemiBold.woff2") format("woff2"), url("OpenSans-SemiBold.woff") format("woff"), url("OpenSans-SemiBold.ttf") format("truetype"), url("OpenSans-SemiBold.svg#OpenSans-SemiBold") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url("OpenSans-Bold.eot");
  src: url("OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("OpenSans-Bold.woff2") format("woff2"), url("OpenSans-Bold.woff") format("woff"), url("OpenSans-Bold.ttf") format("truetype"), url("OpenSans-Bold.svg#OpenSans-Bold") format("svg");
}

@-webkit-keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce-arrow {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-14px);
    transform: translateY(-14px);
  }

  60% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }
}

@keyframes bounce-arrow {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-14px);
    transform: translateY(-14px);
  }

  60% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none !important;
  text-decoration: none;
}

a.active {
  color: #282528 !important;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.container-mini {
  width: 1170px;
  margin: 0 auto;
}

.header {
  background: url("../img/header-bg.jpg") no-repeat #48d7d7;
  width: 100%;
  height: 876px;
  background-position: 50% 100%;
}

.header-menu {
  width: 1240px;
  height: 93px;
  padding: 0 35px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.22);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.22);
  background-color: #ffffff;
  position: fixed;
  top: 37px;
  left: calc(50% - (1240px/2));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.11s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  transition: all 0.11s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  z-index: 100;
}

.header-menu__nav-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu__nav-item {
  margin-right: 35px;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.header-menu__nav-item:last-child {
  margin-right: 0;
}

.header-menu__nav-item a {
  color: #969596;
}

.header-menu__nav-item a:hover {
  color: #f69e00;
}

.header-menu__nav-item a:focus {
  color: #282528;
}

.header-menu__mobnav {
  display: none;
  text-transform: uppercase;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 13px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 105%;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.22);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.22);
  background: #fff;
}

.header-menu__mobnav-list {
  width: 100%;
}

.header-menu__mobnav-item {
  padding: 15px 0;
}

.header-menu__mobnav-item a {
  color: #969596;
}

.header-menu__mobnav-item a:hover {
  color: #f69e00;
}

.header-menu__mobnav-item a:focus {
  color: #282528;
}

.header-menu__burger {
  display: none;
  color: #000;
  font-family: "Open Sans";
  font-weight: 700;
}

.header-menu__burger-btn {
  border: none;
  background: #fff;
  color: #000;
  font-family: "Open Sans";
  font-weight: 700;
  position: relative;
  margin-right: 30px;
}

.header-menu__burger-btn span {
  background: #969596;
  width: 15px;
  height: 2px;
  position: absolute;
  right: -20px;
  top: 12px;
  -webkit-transition: all 0.1s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  transition: all 0.1s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

.header-menu__burger-btn span:before {
  content: '';
  background: #969596;
  width: 10px;
  height: 2px;
  position: absolute;
  left: 0;
  top: -7px;
  -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

.header-menu__burger-btn span:after {
  content: '';
  background: #969596;
  width: 20px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 7px;
  -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

.header-menu__burger-btn_active span {
  background: transparent;
}

.header-menu__burger-btn_active span:before {
  width: 20px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
  left: -5px;
}

.header-menu__burger-btn_active span:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
  left: -5px;
}

.header-menu__tel {
  font-family: "Open Sans";
  font-size: 23px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.header-menu__tel a {
  color: #282528;
}

.header-menu__tel a:hover {
  color: #f69e00;
}

.header-wrap__content {
  position: relative;
}

.header-wrap__content-title {
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 800;
  text-transform: uppercase;
  padding-top: 270px;
}

.header-wrap__content-title span {
  display: block;
}

.header-wrap__content-title span:nth-child(1) {
  font-size: 124px;
}

.header-wrap__content-title span:nth-child(2) {
  font-size: 94px;
}

.header-wrap__content-subtitle {
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 28px;
  padding-top: 40px;
  padding-bottom: 48px;
}

.header-wrap__content-btn {
  -webkit-box-shadow: 0 5px 0 #298624, inset 0 5px 5px rgba(247, 235, 151, 0.66);
  box-shadow: 0 5px 0 #298624, inset 0 5px 5px rgba(247, 235, 151, 0.66);
  border-radius: 50px;
  background-color: #4db848;
  border: none;
  padding: 34px 92px 20px 100px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#55dd49), to(#3da139));
  background-image: linear-gradient(to bottom, #55dd49 0%, #3da139 100%);
}

.header-wrap__content-btn:hover {
  -webkit-animation: bounce;
  animation: bounce;
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.32, 0, 0.58, 1);
  animation-timing-function: cubic-bezier(0.32, 0, 0.58, 1);
}

.header-wrap__content-btn span {
  text-shadow: 1px 1px 1px #24811b;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 34px;
  font-weight: 800;
  text-transform: uppercase;
}

.header-wrap__content-todown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: calc(50% - (30px / 2));
  bottom: -125px;
}

.header-wrap__content-todown:hover {
  -webkit-animation: bounce-arrow;
  animation: bounce-arrow;
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.32, 0, 0.58, 1);
  animation-timing-function: cubic-bezier(0.32, 0, 0.58, 1);
}

.header-wrap__content-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  bottom: -125px;
}

.header-wrap__content-icons_icon {
  margin-right: 12px;
}

.header-wrap__content-icons_icon:last-child {
  margin-right: 0;
}

.features {
  background: #fff;
}

.features-title {
  padding: 140px 0;
  text-align: center;
  color: #282528;
  font-family: "Open Sans";
  font-size: 28px;
  font-weight: 700;
  position: relative;
}

.features-title:before,
.features-title:after {
  content: '';
  display: block;
  position: absolute;
  width: 60px;
  height: 1px;
  background-color: #535b64;
  opacity: 0.4;
  top: 50%;
}

.features-title:before {
  left: 27%;
}

.features-title:after {
  right: 27%;
}

.features-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.features-column {
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
}

.features-column__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.features-column__item-img {
  margin-right: 40px;
}

.features-column__item ul {
  list-style: disc;
  padding-left: 20px;
}

.features-column__item-title {
  color: #282528;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 17px;
  line-height: 26px;
}

.features-column__item-title span {
  margin-right: 40px;
}

.features-column__item-subtitle {
  color: #282528;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.features-column__item-hint {
  color: #a8a8a8;
  font-size: 13px;
  line-height: 20px;
}

.cta {
  background: #fff;
  padding: 70px 0 116px 0;
}

.cta__title {
  text-align: center;
  color: #282528;
  font-family: "Open Sans";
  font-size: 57px;
  font-weight: 800;
  line-height: 43px;
  margin-bottom: 15px;
}

.cta__subtitle {
  text-align: center;
  font-family: "Open Sans";
  font-size: 33px;
  font-weight: 700;
  color: #282528;
  margin-bottom: 50px;
}

.cta-wrap {
  margin-top: 70px;
}

.cta-wrap__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.cta-wrap__column-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  position: relative;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.cta-wrap__column-block:nth-child(2) .cta-wrap__column-block-descr {
  margin-top: 50px;
  margin-left: -20px;
}

.cta-wrap__column-block:last-child:after {
  content: '';
}

.cta-wrap__column-block:after {
  content: url("../img/cta-icon.png");
  position: absolute;
  top: 35%;
  right: -42%;
  height: 23px;
  width: 14px;
}

.cta-wrap__column-block-descr {
  margin-top: 30px;
  font-family: "Open Sans";
  text-align: center;
  color: #212121;
  font-weight: 600;
  font-size: 24px;
}

.review {
  background-color: #fafafa;
  padding: 100px 0;
}

.review-title {
  color: #282528;
  font-family: "Open Sans";
  font-size: 57px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 200px;
  position: relative;
}

.review-title:after {
  content: url("../img/review-icon.png");
  position: absolute;
  left: calc(50% - (79px/2));
  top: 115px;
}

.review-slider_prev {
  height: 59px;
  width: 59px;
  background-image: url("../img/slider_prev.png");
  border: none;
  background-color: #fafafa;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  position: absolute;
  left: -12%;
  top: 12%;
}

.review-slider_prev:hover {
  background-image: url("../img/slider_next.png");
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.review-slider_next {
  height: 59px;
  width: 59px;
  background-image: url("../img/slider_prev.png");
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  border: none;
  background-color: #fafafa;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  position: absolute;
  right: -12%;
  top: 12%;
}

.review-slider_next:hover {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  background-image: url("../img/slider_next.png");
}

.review-slider__slide {
  padding: 0 40px;
  margin: 0 auto;
}

.review-slider__slide-text {
  text-align: justify;
  color: #282528;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 100px;
}

.review-slider__slide-block {
  text-align: center;
}

.review-slider__slide-block__img {
  margin-bottom: 40px;
  display: inline-block;
}

.review-slider__slide-block__img img {
  border: 3px solid #4db848;
  border-radius: 50%;
}

.review-slider__slide-block__name {
  color: #282528;
  font-family: "Open Sans";
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 5px;
}

.review-slider__slide-block__descr {
  color: #646464;
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 400;
}

.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video-ytb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer {
  padding: 107px 0 70px 0;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-wrap_column {
  -ms-flex-preferred-size: 33.333333%;
  flex-basis: 33.333333%;
}

.footer-wrap_column-descr {
  color: #a2a2a2;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.footer-wrap_column-logo {
  margin-bottom: 27px;
}

.footer-wrap_column-cr {
  text-align: center;
  opacity: 0.8;
  color: #282528;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.footer-wrap_column-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-wrap_column-icon img {
  margin-right: 20px;
}

.slick-dots {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
  margin-top: 33px;
}

.slick-dots li {
  margin: 0 0.25rem;
}

.slick-dots li button {
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border: 2px solid transparent;
  border-radius: 100%;
  background: #282528;
  opacity: 0.2;
  text-indent: -9999px;
}

.slick-dots .slick-active button {
  border: 2px solid #000;
  background-color: transparent;
  border-radius: 100%;
}

@media (max-width: 320px) {
  .container {
    width: 320px;
    padding: 0 15px;
  }

  .container-mini {
    width: 100%;
    padding: 0 15px;
  }

  .header {
    background: #48d7d7;
    height: auto;
    padding: 170px 0;
  }

  .header-menu {
    width: 100%;
    left: 0;
    padding: 0 5px;
  }

  .header-menu__tel {
    display: none;
  }

  .header-menu__nav {
    display: none;
  }

  .header-menu__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-menu__mobnav-item:last-child {
    font-size: 23px;
  }

  .header-menu__mobnav-item:last-child a {
    color: #282528;
  }

  .header-wrap__content-title {
    padding-top: 0;
  }

  .header-wrap__content-title span:nth-child(1) {
    text-align: center;
    font-size: 60px;
  }

  .header-wrap__content-title span:nth-child(2) {
    text-align: center;
    font-size: 40px;
  }

  .header-wrap__content-btn {
    display: block;
    margin: 0 auto;
    padding: 17px 46px 10px 50px;
  }

  .header-wrap__content-btn span {
    font-size: 12px;
  }

  .header-wrap__content-subtitle {
    text-align: center;
    font-size: 12px;
  }

  .header-wrap__content-icons {
    left: calc(50% - (129px/2));
    bottom: -70px;
  }

  .header-wrap__content-todown {
    display: none;
  }

  .features-wrap {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .features-column {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .features-column__item {
    margin-bottom: 20px;
  }

  .features-column:nth-child(2) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .features-column:nth-child(2) img {
    -ms-flex-item-align: center;
    align-self: center;
    width: 100%;
  }

  .cta-wrap__column-block {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .cta-wrap__column-block:after {
    display: none;
  }

  .cta-wrap__column-block img {
    -ms-flex-item-align: center;
    align-self: center;
  }

  .review-slider__slide-text {
    font-size: 16px;
    line-height: 22px;
  }

  .review-title {
    font-size: 24px;
  }

  .review-slider_prev,
  .review-slider_next {
    display: none;
  }

  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }
}

@media (min-width: 321px) and (max-width: 576px) {
  .container {
    width: 320px;
    padding: 0 15px;
  }

  .container-mini {
    width: 100%;
    padding: 0 15px;
  }

  .header {
    background: #48d7d7;
    height: auto;
    padding: 170px 0;
  }

  .header-menu {
    width: 100%;
    left: 0;
    padding: 0 5px;
  }

  .header-menu__tel {
    display: none;
  }

  .header-menu__nav {
    display: none;
  }

  .header-menu__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-menu__mobnav-item:last-child {
    font-size: 23px;
  }

  .header-menu__mobnav-item:last-child a {
    color: #282528;
  }

  .header-wrap__content-title {
    padding-top: 0;
  }

  .header-wrap__content-title span:nth-child(1) {
    text-align: center;
    font-size: 60px;
  }

  .header-wrap__content-title span:nth-child(2) {
    text-align: center;
    font-size: 40px;
  }

  .header-wrap__content-btn {
    display: block;
    margin: 0 auto;
    padding: 17px 46px 10px 50px;
  }

  .header-wrap__content-subtitle {
    font-size: 22px;
    text-align: center;
  }

  .header-wrap__content-icons {
    left: calc(50% - (129px/2));
    bottom: -70px;
  }

  .header-wrap__content-todown {
    display: none;
  }

  .features-title {
    padding: 80px 0;
    font-size: 22px;
  }

  .features-title:after,
  .features-title:before {
    display: none;
  }

  .features-wrap {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .features-column {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .features-column__item {
    margin-bottom: 20px;
  }

  .features-column:nth-child(2) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .features-column:nth-child(2) img {
    -ms-flex-item-align: center;
    align-self: center;
    width: 100%;
  }

  .review {
    padding: 50px 0;
  }

  .review-slider__slide-text {
    font-size: 16px;
    line-height: 22px;
  }

  .review-slider_prev,
  .review-slider_next {
    display: none;
  }

  .review-title {
    font-size: 36px;
  }

  .cta {
    padding: 50px 0 80px 0;
  }

  .cta__title {
    font-size: 40px;
  }

  .cta__subtitle {
    font-size: 27px;
  }

  .cta-wrap__column-block {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  .cta-wrap__column-block:nth-child(2) .cta-wrap__column-block-descr {
    margin-top: 20px;
    margin-left: 0;
  }

  .cta-wrap__column-block-descr {
    margin-top: 20px;
  }

  .cta-wrap__column-block:after {
    display: none;
  }

  .cta-wrap__column-block img {
    -ms-flex-item-align: center;
    align-self: center;
  }

  .footer {
    padding: 50px 0 50px 0;
  }

  .footer-wrap {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }

  .footer-wrap_column {
    margin-bottom: 20px;
  }

  .footer-wrap_column:nth-child(2) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

@media (min-width: 577px) and (max-width: 778px) {
  .container {
    width: 540px;
  }

  .container-mini {
    width: 450px;
    margin: 0 auto;
  }

  .header-menu {
    width: 540px;
    left: calc(50% - (540px/2));
    padding: 0 15px;
  }

  .header-menu__nav {
    display: none;
  }

  .header-menu__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-menu__mobnav-item:last-child {
    display: none;
  }

  .header-wrap__content-title span:nth-child(1) {
    font-size: 86px;
  }

  .header-wrap__content-title span:nth-child(2) {
    font-size: 68px;
  }

  .header-wrap__content-subtitle {
    font-size: 22px;
  }

  .header-wrap__content-icons {
    left: 130px;
  }

  .header-wrap__content-todown {
    display: none;
  }

  .features-title {
    padding: 80px 0;
  }

  .features-title:after {
    right: 1%;
  }

  .features-title:before {
    left: 1%;
  }

  .features-wrap {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .features-column {
    -ms-flex-preferred-size: 63%;
    flex-basis: 63%;
  }

  .features-column__item {
    margin-bottom: 20px;
  }

  .features-column:nth-child(2) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .features-column:nth-child(2) img {
    -ms-flex-item-align: center;
    align-self: center;
  }

  .cta-wrap__column-block {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-bottom: 20px;
  }

  .cta-wrap__column-block:nth-child(2):after {
    display: none;
  }

  .cta-wrap__column-block img {
    -ms-flex-item-align: center;
    align-self: center;
  }

  .cta-wrap__column-block:after {
    right: 0;
  }

  .review-slider__slide-text {
    font-size: 16px;
    line-height: 22px;
  }

  .review-slider_prev {
    left: -14%;
  }

  .review-slider_next {
    right: -14%;
  }

  .review-slider_next-title {
    font-size: 36px;
  }

  .footer-wrap {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }

  .footer-wrap_column {
    margin-bottom: 20px;
  }

  .footer-wrap_column:nth-child(2) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

@media (min-width: 779px) and (max-width: 992px) {
  .container {
    width: 720px;
  }

  .container-mini {
    width: 600px;
    margin: 0 auto;
  }

  .header-menu {
    width: 720px;
    left: calc(50% - (720px/2));
    padding: 0 15px;
  }

  .header-menu__nav {
    display: none;
  }

  .header-menu__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-menu__mobnav-item:last-child {
    display: none;
  }

  .header-wrap__content-title span:nth-child(1) {
    font-size: 86px;
  }

  .header-wrap__content-title span:nth-child(2) {
    font-size: 68px;
  }

  .header-wrap__content-subtitle {
    font-size: 22px;
  }

  .header-wrap__content-icons {
    left: 130px;
  }

  .features-title {
    padding: 80px 0;
  }

  .features-title:after {
    right: 13%;
  }

  .features-title:before {
    left: 13%;
  }

  .features-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .features-column {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }

  .features-column:nth-child(2) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .features-column:nth-child(2) img {
    -ms-flex-item-align: center;
    align-self: center;
  }

  .review {
    padding: 80px 0;
  }

  .cta {
    padding: 70px 0 60px 0;
  }

  .cta-wrap__column-block {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-bottom: 20px;
  }

  .cta-wrap__column-block:nth-child(2):after {
    display: none;
  }

  .cta-wrap__column-block img {
    -ms-flex-item-align: center;
    align-self: center;
  }

  .cta-wrap__column-block:after {
    right: 0;
  }

  .footer-wrap {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }

  .footer-wrap_column {
    margin-bottom: 20px;
  }

  .footer-wrap_column:nth-child(2) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

@media (min-width: 993px) and (max-width: 1240px) {
  .container {
    width: 960px;
  }

  .container-mini {
    width: 850px;
    margin: 0 auto;
  }

  .header-menu {
    width: 960px;
    left: calc(50% - (960px/2));
    padding: 0 10px;
  }

  .header-menu__tel {
    font-size: 19px;
  }

  .header-menu__mobnav-list-item:last-child {
    display: none;
  }

  .header-menu__nav-item {
    margin-right: 10px;
  }

  .header-menu__nav-item:last-child {
    margin-right: 0;
  }

  .cta-wrap__column-block:after {
    right: -31%;
  }

  .review-slider_prev {
    left: -8%;
  }

  .review-slider_next {
    right: -8%;
  }

  .features-column__item {
    white-space: normal;
  }

  .features-column__img {
    width: 100%;
  }

  .features-title:after {
    right: 22%;
  }

  .features-title:before {
    left: 22%;
  }

  .features-column-center img {
    width: 125%;
    margin-left: -40px;
    margin-bottom: 10px;
  }
}

@media (min-width: 1241px) and (max-width: 1450px) {
  .review-slider_prev {
    left: -6%;
  }

  .review-slider_next {
    right: -6%;
  }
}