@media (max-width: 320px)
	.header
		&-menu
			width: 300px
			left: calc(50% - (300px/2))
			padding: 0 5px
			&__nav
				display: none
			&__burger
				display: flex

		&-wrap
			width: 300px
@media (max-width: 576px)
	.header
		&-menu
			width: 300px
			left: calc(50% - (300px/2))
			padding: 0 5px
			&__nav
				display: none
			&__burger
				display: flex

		&-wrap
			width: 300px
@media (min-width: 577px) and (max-width: 778px)
	.header
		&-menu
			width: 540px
			left: calc(50% - (540px/2))
			padding: 0 15px
			&__nav
				display: none
			&__burger
				display: flex

		&-wrap
			width: 540px
@media (min-width: 779px) and (max-width: 992px)
	.header
		&-menu
			width: 720px
			left: calc(50% - (720px/2))
			padding: 0 15px

			&__nav
				display: none
			&__burger
				display: flex

		&-wrap
			width: 720px
@media (min-width: 993px) and (max-width: 1240px)
	.header
		&-menu
			&__tel
				font-size: 19px
			width: 960px
			left: calc(50% - (960px/2))
			padding: 0 10px
			&__nav
				&-item
					margin-right: 10px
					&:last-child
						margin-right: 0
		&-wrap
			width: 960px
	.footer
		&-wrap
			width: 960px
	.features
		width: 960px
		&-column
			&-center
				img
					width: 125%
					margin-left: -40px
					margin-bottom: 10px
	.cta
		width: 960px
	.review
		&-wrap
			width: 720px
		&-slider
			&__slide
				width: 720px
//@media (min-width: 1200px)
